/* height must be set for scrolling to work. Setting min-height instead does not work. 
Setting height to 600px or above turns the scrolling off. */

.frame {
  width: 900px;
  height: 520px;
  background: #ffffff;
  margin: 100px auto 0; /*horizontonal center*/
  padding: 30px;
  overflow-y: auto;
}

.frame .section-title {
  padding-bottom: 50px;
}
