/*https://css-tricks.com/snippets/css/css-triangle/*/

i {
  position: relative;
}
.triangle {
  width: 0;
  height: 0;
  border-left: solid 20px transparent;
  border-right: solid 20px transparent;
  border-bottom: solid 20px white;
  position: absolute;
  top: 73px;
  left: 4px;
}
