.jumbotron {
  display: flex;
  flex-direction: column;
  padding: 40px;
  max-width: 450px;
  /* font-family: "Source Sans Pro", sans-serif; */
  /* border: solid 1px black; */
}

h1 {
  /* line-height: 1.25em; */
  font-size: 3.4em;
  /* letter-spacing: -0.015em; */
  font-weight: 400;
  color: #363636;
}

.jumbotron .jumbotron__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: solid 1px black; */
}

.jumbotron .jumbotron__row + * {
} /* the asterisk targets both .my-title and .social-icon-links */

.my-title {
  font-size: 1.25em;
  color: #aaa;
  /* border: 1px solid black; */
}

.social-icon-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* background-color: aliceblue; */
}

.social-icon-links svg {
  width: 23px;
  height: 23px;
}
