.jumbotron {
  display: flex;
  flex-direction: column;
  padding: 40px;
  max-width: 900px;
}

.social-icon-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: aliceblue;
}

.social-icon-links svg {
  width: 23px;
  height: 23px;
}
