.jumbotron {
  display: flex;
  flex-direction: column;
  padding: 2.5em;
  /* max-width: 380px; */
  /* max-width: 75em; */
  margin: 0 auto;
  background-color: #ebebeb;
}

h1 {
  font-size: 3.4em;
  font-weight: 400;
  color: #363636;
  padding-bottom: 0.7em;
  font-family: "Rancho";
}

.jumbotron .jumbotron__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: solid 1px black; */
}

.my-title {
  font-size: 1.25em;
  color: #aaa;
  /* border: 1px solid black; */
}

.social-icon-links {
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  /* background-color: aliceblue; */
}

.social-icon-links > div {
  border: 1px solid black;
  padding: 10px;
}

.social-icon-links > div:first-child {
  border-right: 0;
} /* collapsed border. NOTE: if you set the width to a positive value here, then you
you must also set the style and color values or it will not show. */

.social-icon-links svg {
  width: 23px;
  height: 23px;
}
