/* Project.js */
.imageList {
  @include mdc-image-list-masonry-columns(1);
  margin-top: 16px;
}

.imageList .mdc-image-list__item {
  margin-bottom: 16px;
}

.contentMax {
  max-width: var(--contentMax);
}
