/* About.js */
.aboutMe {
  display: flex;
  margin: 0 auto;
  align-items: flex-start;
  flex-direction: column;
}


.aboutMe img {
  width: 100%;
  margin-bottom: 2em;
}

.section-about {
  padding: 1.5em;
}
