/* Define theme variables before importing any MDC Web component styles */

:root {
  /* --mdc-theme-primary: #6200ee; */
  --mdc-theme-primary: #90a4ae;
  --pageMax: 1200x;
  --contentMax: 900px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #ddd; */
  /* background-image: linear-gradient(#90a4ae, #ddd); */
}

html {
  overflow-y: scroll; /* prevent layout shifts when scrollbar appears/disappears */
}

body {
  position: relative;
  /* background-image: linear-gradient(#90a4ae, #ddd); */
  background-color: rgb(99, 122, 114);
}

/* About.js, Project.js, Work.js */
img {
  width: 100%;
}

/* index.js, About.js */
p {
  line-height: 1.8;
}

/* About.js, Contact.js */
.centered {
  text-align: center;
}

@media (min-width: 900px) {
  .imageList {
    column-count: 2;
    column-gap: 16px;
  }

  .aboutMe {
    flex-direction: row;
  }

  .aboutMe figure {
    margin-right: 16px;
  }
}

@media (min-width: 1000px) {
  .imageList {
    column-count: 3;
  }
}
