/* Define theme variables before importing any MDC Web component styles */

:root {
  --mdc-theme-primary: #90a4ae;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: linear-gradient(#90a4ae, #ddd); */
  background-color: rgb(99, 122, 114);
}

p {
  line-height: 1.8;
}
