.jumbotron {
  display: flex;
  flex-direction: row;
  /* padding: 2.5em; */
  margin: 0 auto;
  /* background-color: #ebebeb; */
  justify-content: space-between;
  min-height: 40em;
}

.jumbotron .cover-image {
  /* max-width: 70em; */
  margin-left: 181.5%;
  /* position: absolute;
  left: 50%; */
  height: 40em;
}
