/* Work.js */
.cardContent {
  padding: 16px;
}

.cardCategory {
  margin: 0;
}

.cardTitle {
  margin: 0 0 16px;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto -16px;
  max-width: 1200px;
}

.card {
  flex: 1;
  flex-basis: 400px;
  margin: 0 16px 16px 0;
}
